.calendar{width:100%;margin:10px 0px 20px 0px;color:#555;}
.calendar h4 {border-bottom: 2px solid #5bd999;text-align: center;font-size: 22px;font-weight: 700;margin-top: 10px;margin-bottom:0px;padding: 10px 0;}
.calendar .sign_tab{width: 100%;border-collapse: collapse;border: 1px solid #e5e5e5;border-top: 0;table-layout: fixed;}
.calendar .sign_tab th{text-align: center;height: 60px;font-weight: 700; background-color:#FEE684;}
.calendar .sign_tab td{border: 1px solid #e5e5e5; height:60px;text-align: center;font-size: 20px;font-family: arial; font-weight:bold;background-color:#FFFFF1; color:#AD560E;}
.calendar .sign_tab td.over{background-color: #FFFFF1;border-left: 0;border-right: 0; border: 1px solid #e5e5e5; }
.calendar .sign_tab td.red_tbg{background-color: #2DCC70;color: #FFF;}
.calendar .sign_tab td.cur_day{background-color: #FFD2D2;color: #FFF;}
.previousMonth{
	display:block;
	float:left;
}
.nextMonth{
	display:block;
	float:right;
}
.sign-in{
	/*width:100%;*/
	margin: 10px 0px 20px 0px;
	text-align:center;
	padding:10px;
	color:#B25D06;
	font-weight:bold;
	font-family:arial;
	background-color:#FFEB42;
}